html {
  font-size:62.5%;
}

body {
  margin: 0px;
  border: 0px;
}

header {
  background-color: #071d73;
  font-family: Montserrat;
  color: white;
  font-weight: bold;
  height: 5rem;
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
